* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./background_image.jpg);
  color: white;
}
#container {
  max-width: 1240px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 1036px;
  margin: auto;
  margin-top: 30px;
}
#title {
  color: white;
  font-size: 3.1rem;
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 0.31rem;
  text-align: center;
}
span {
  color: red;
}
#description {
  font-family: 'Sorts Mill Goudy', serif;
}
header {
  text-align: center;
}
#survey-form-container {
  width: 500px;
  /* height: 897px; */
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 10px 40px;
}
#survey-form {
  max-width: 460px;
  margin: auto;
  font-size: 1rem;
}

#name,
#age,
#email
#dropdown,
#feedback {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.input-box {
    margin-top: 10px;
}
#form-button{
    width: 160px;
    height: 45px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;


}
#form-submit{
    width: 160px;
    margin: auto;
    margin-top: 15px;
}
textarea{
    resize: none;
}


